body {
  height: 100vh;
  background-image: url(./pexels-photo-6.jpeg);
  background-size: cover;
  background-position: center center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 18px;
}

.countdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

h1 {
  padding-bottom: 50px;
  text-transform: capitalize;
  font-size: 36px;
  color: #e5e0ea;
}

h1 span {
  font-weight: normal;
  font-family: fantasy;
  letter-spacing: 1.5px;
  color: #7d7ddc;
  font-size: 24px;

}

.time {
  color: #fff;
  margin: 10px;
}

.time h2 {
  margin:0;
  font-size: 30px;
}

 h2 span {
  text-transform: uppercase;
  font-size: 14px;

}

@media(max-width:560px) {
  .countdown {
    width: 90%;
  }
}